/packages
/Website/bin
/Website/obj
/Website/App_Data
/Website/umbraco
/Website/packages
/Website/.vs
/JonDJones.com.Umbraco.Base.Core/obj
/JonDJones.com.Umbraco.Base.Core/bin
/TutorialCode.Interfaces/obj
/TutorialCode.Interfaces/bin
/TutorialCode.Tests/bin
/TutorialCode.Tests/obj
/TutorialCode.Tests/bin
/TutorialCode.Tests/obj
/Umbraco.Web.PublishedContentModels/bin
/Umbraco.Web.PublishedContentModels/obj
/.vs


\JonDJones.com.Umbraco.Base.Core\obj
\ Website\App_Data
Website\bin\*.dll
Website/bin/*
\packages
Website\bin
\Website\obj
\Website\App_Data
\Website\umbraco
\Website\packages
\Website\.vs
\JonDJones.com.Umbraco.Base.Core\obj
\JonDJones.com.Umbraco.Base.Core\bin
\TutorialCode.Interfaces\obj
\TutorialCode.Interfaces\bin
\TutorialCode\bin
\TutorialCode\obj
\TutorialCode.Tests\bin
\TutorialCode.Tests\obj
\Umbraco.Web.PublishedContentModels\bin
\Umbraco.Web.PublishedContentModels\obj


Website/bin/*
Website/obj/*
Website/App_Data/*
Website/umbraco/*
Website/packages/*
Website/.vs/*
JonDJones.com.Umbraco.Base.Core/obj/*
JonDJones.com.Umbraco.Base.Core/bin/*
TutorialCode.Interfaces/obj/*
TutorialCode.Interfaces/bin/*
TutorialCode/bin/*
TutorialCode/obj/*
TutorialCode.Tests/bin/*
TutorialCode.Tests/obj/*
Umbraco.Web.PublishedContentModels/bin/*
Umbraco.Web.PublishedContentModels/obj/*
.vs/*
