@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.PublishedContent.Home>
@{ Layout = null; }

<!-- CSS -->
<style>
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .content {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
</style>

<!-- HTML -->
<video autoplay muted loop id="myVideo">
    <source src="~/img/vid1.mov" type="video/mp4">
</video>


<div class="content">
    <img src="~/img/angry.jpg" />
    <div id="inslutPlaceholder" style="font-size: 4rem"></div>
</div>


<script type="text/javascript">
    const inslutPlaceholder = document.getElementById('inslutPlaceholder')

    // HTML
    const refresh = () => {
        var request = new XMLHttpRequest()
        request.open('GET', 'http://umbraco.local/api/getinsult', true)
        request.onload = function () {

            var data = JSON.parse(this.response)
            if (request.status >= 200 && request.status < 400) {
                inslutPlaceholder.innerHTML = data
            }
        }
        request.send()
    }

    // Execute
    refresh();
    const interval = setInterval(function () {
        refresh();
    }, 1000);

</script>