<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c22b8ee-a9e7-4ce5-90f5-20d57f5e44cf" Alias="blackBlock" Level="2">
  <Info>
    <Name>BlackBlock</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate>BlocvkTwo</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b35cd966-bdb4-4dce-9e26-4d349b42fe3c">BlocvkTwo</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7717dae7-7f66-4b71-be6c-2bbf84adfd4f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>b23dd2ba-b551-4a88-bc68-aa08c659725e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>