<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1bb02b98-2d79-4144-b5d8-4c95210bff62" Alias="blockOne" Level="1">
  <Info>
    <Name>Block One</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate>BlockOne</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9aeeebc-0d54-4dc5-ae56-f394dcd469ed">BlockOne</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0afe309f-78ef-4ae9-9700-2ff232e0cafc</Key>
      <Name>Ten</Name>
      <Alias>ten</Alias>
      <Definition>b23dd2ba-b551-4a88-bc68-aa08c659725e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>One</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>One</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>