<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a590127-564e-4d3d-ba83-c188cc09ed64" Alias="Caching" Level="1">
  <Info>
    <Name>Caching</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Caching</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad614a07-90b7-4acb-a150-f6aa881641e8">Caching</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>