<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fc65e83-9e7c-4170-aca3-13f4ef6499f8" Alias="cheeryQuery" Level="1">
  <Info>
    <Name>Cheery Query</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>CheeryQuery</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5c101254-1742-404b-a6d3-6d94fe7b4384">CheeryQuery</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>