<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e625fe9-45da-42b4-9ab6-35c166e61984" Alias="composersAndComponents" Level="1">
  <Info>
    <Name>Composers And Components</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>ComposersAndComponents</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e78a5029-fdc2-475c-841f-40690d53fe5d">ComposersAndComponents</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>