<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b97905c-77e7-48bd-a563-86fe24a09254" Alias="cringeSayings" Level="1">
  <Info>
    <Name>CringeSayings</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>CringeSayings</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2e1f4db7-78c3-4c9c-beaf-c5fcf4c11a3a">CringeSayings</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>