<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9e0bc7e-c0c8-4506-8e85-803e68d82e9d" Alias="featureFlags" Level="1">
  <Info>
    <Name>Feature Flags</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Compositions />
    <DefaultTemplate>FeatureFlags</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="957a4935-c672-4bfc-a9c1-c568f45d9aee">FeatureFlags</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c8c93c2-fa1b-4110-b07c-7599b08a8780</Key>
      <Name>Feature Flag One</Name>
      <Alias>featureFlagOne</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>