<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17116e97-e8ba-4d56-b3e1-1dae5fb89322" Alias="grids" Level="1">
  <Info>
    <Name>Grids</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Grids</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="06e1ddc6-c9ff-41d0-98bc-912f6be0e575">Grids</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>961b22a1-24d3-40e7-b464-aacf84fada08</Key>
      <Name>Block List</Name>
      <Alias>blockList</Alias>
      <Definition>c81af5bb-2c9e-47b2-a9c4-3d5e1ff0b846</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>