<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9e1f6622-2107-4a2e-916a-a950aaaf337c" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b42de995-f89c-4ba6-9033-acf7072eb6b8">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4ccff443-bbf4-4ed4-a2ca-901baeb3b0fc" SortOrder="0">hamsterDance</ContentType>
    <ContentType Key="61943a4e-372a-483b-95ef-64e05e27857b" SortOrder="1">insultAPI</ContentType>
    <ContentType Key="17116e97-e8ba-4d56-b3e1-1dae5fb89322" SortOrder="2">grids</ContentType>
    <ContentType Key="0c41ba69-2e66-46ad-813f-aa22a046e087" SortOrder="3">viewModels</ContentType>
    <ContentType Key="1b97905c-77e7-48bd-a563-86fe24a09254" SortOrder="4">cringeSayings</ContentType>
    <ContentType Key="39d4d43d-aef9-4ae8-8fb6-7e2b903d2fb9" SortOrder="5">simpleFormExample</ContentType>
    <ContentType Key="1e625fe9-45da-42b4-9ab6-35c166e61984" SortOrder="6">composersAndComponents</ContentType>
    <ContentType Key="5fc65e83-9e7c-4170-aca3-13f4ef6499f8" SortOrder="7">cheeryQuery</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>449f5beb-8176-45eb-a832-ef91775b9942</Key>
      <Name>BlockList</Name>
      <Alias>blockList</Alias>
      <Definition>c81af5bb-2c9e-47b2-a9c4-3d5e1ff0b846</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>fcccc45f-258a-41d3-a450-7eb14eee2cb0</Key>
      <Name>FeatureFlagOne</Name>
      <Alias>featureFlagOne</Alias>
      <Definition>bb5f57c9-ce2b-4bb9-b697-4caca783a805</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>