<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="620e78eb-af3e-4b5a-8770-c8076bdadd2a" Alias="menuItem" Level="4">
  <Info>
    <Name>Menu Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="7166eff5-e761-4bf4-a229-97a367375749">menu</Parent>
    <Compositions>
      <Composition Key="7166eff5-e761-4bf4-a229-97a367375749">menu</Composition>
    </Compositions>
    <DefaultTemplate>MenuItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9ac736c2-524c-4fd0-97a7-5b31978f81a3">MenuItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>eb12b766-6a9e-4a95-be57-90b440892c81</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Menu</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>