<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7166eff5-e761-4bf4-a229-97a367375749" Alias="menu" Level="3">
  <Info>
    <Name>Menu</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="8aeb0ece-4781-4281-8952-f0533aed202f">menuContainer</Parent>
    <Compositions>
      <Composition Key="8aeb0ece-4781-4281-8952-f0533aed202f">menuContainer</Composition>
    </Compositions>
    <DefaultTemplate>Menu</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="37d0bced-fc36-4b31-998d-fc2a6ddb2bad">Menu</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="620e78eb-af3e-4b5a-8770-c8076bdadd2a" SortOrder="0">menuItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>