<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9bc11160-2120-42d1-a222-373d3ab58741" Alias="properties" Level="1">
  <Info>
    <Name>Properties</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Properties</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de1fe51f-1ea1-4a0d-ac59-a411afaba27f">Properties</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="4ccff443-bbf4-4ed4-a2ca-901baeb3b0fc" SortOrder="0">hamsterDance</ContentType>
    <ContentType Key="1b97905c-77e7-48bd-a563-86fe24a09254" SortOrder="1">cringeSayings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9ab25c06-a26e-4365-9935-c1ea3caa2f4b</Key>
      <Name>Block Editor</Name>
      <Alias>blockEditor</Alias>
      <Definition>2c74e189-9918-4c20-8e41-42198debd6ec</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>0c3a8555-2522-46a3-94aa-fd6dd2234730</Key>
      <Name>List View</Name>
      <Alias>listView</Alias>
      <Definition>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>b7438286-bf79-454c-8d3a-8d262015b812</Key>
      <Name>Markdown</Name>
      <Alias>markdown</Alias>
      <Definition>052f6af6-1a1a-4c96-8b06-e4ec2536fc76</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>6635edd3-a3a3-4a58-8561-b3d0c6dace87</Key>
      <Name>Ten</Name>
      <Alias>ten</Alias>
      <Definition>b23dd2ba-b551-4a88-bc68-aa08c659725e</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
    <GenericProperty>
      <Key>e87dc98b-41ab-42f0-8ad2-35ec8c1985a6</Key>
      <Name>Twenty</Name>
      <Alias>twenty</Alias>
      <Definition>68cc01ec-594f-4123-905f-95b75746bb48</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Properties</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>List</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>