<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89dc7c3e-d5a5-4444-b2a8-897307b086a5" Alias="redBlock" Level="2">
  <Info>
    <Name>RedBlock</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Blocks</Folder>
    <Compositions />
    <DefaultTemplate>BLock</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aad3515c-92ab-41f6-9db8-ec98fba4f00e">BLock</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c5ba9635-db72-4dea-b822-db5932ea11c5</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>