<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39d4d43d-aef9-4ae8-8fb6-7e2b903d2fb9" Alias="simpleFormExample" Level="1">
  <Info>
    <Name>Simple Form Example</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>SimpleFormExample</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d026e411-e4d5-4cd6-8bd9-29914c87b6c7">SimpleFormExample</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>