<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cd3a6b7-6b05-4ce6-a321-d2bedf47c290" Alias="Giphy (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Giphy1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2021-01-15T22:08:12</CreateDate>
    <NodeName Default="Giphy (1)" />
    <SortOrder>2</SortOrder>
    <FileHash>1853920422311719514176312341915316099160</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wgtng5af/giphy-1.gif","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>