<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da505cb-456b-4341-970b-94ecb42efd24" Alias="Hamburgler" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hamburgler</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-12-05T21:30:02</CreateDate>
    <NodeName Default="Hamburgler" />
    <SortOrder>0</SortOrder>
    <FileHash>82223252951681501999719220615717614116014298</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zuclklll/hamburgler.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>