<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f076040-92e4-4626-a4a1-8cd8795a9587" Alias="Caching" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Caching</Path>
    <Trashed>false</Trashed>
    <ContentType>Caching</ContentType>
    <CreateDate>2021-02-27T11:57:21</CreateDate>
    <NodeName Default="Caching" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ad614a07-90b7-4acb-a150-f6aa881641e8">Caching</Template>
  </Info>
  <Properties />
</Content>