<?xml version="1.0" encoding="utf-8"?>
<Content Key="9274a5e2-a135-4a2b-ab75-892240951cf0" Alias="Composers and components" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/ComposersAndComponents</Path>
    <Trashed>false</Trashed>
    <ContentType>composersAndComponents</ContentType>
    <CreateDate>2020-12-13T08:00:52</CreateDate>
    <NodeName Default="Composers and components" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e78a5029-fdc2-475c-841f-40690d53fe5d">ComposersAndComponents</Template>
  </Info>
  <Properties />
</Content>