<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ef73a79-bcef-49ca-b142-8b3a9b5c83d3" Alias="Grids" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/Grids</Path>
    <Trashed>false</Trashed>
    <ContentType>grids</ContentType>
    <CreateDate>2020-11-25T08:15:28</CreateDate>
    <NodeName Default="Grids" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="06e1ddc6-c9ff-41d0-98bc-912f6be0e575">Grids</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f47a1b28d1a4c549cfdad39248af2d5"
      },
      {
        "contentUdi": "umb://element/978e22b5cd984637abbd3fef304b48a9"
      },
      {
        "contentUdi": "umb://element/b4cb52e2120c44fbb9a376390114d99c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "89dc7c3e-d5a5-4444-b2a8-897307b086a5",
      "udi": "umb://element/4f47a1b28d1a4c549cfdad39248af2d5",
      "title": "Red"
    },
    {
      "contentTypeKey": "1c22b8ee-a9e7-4ce5-90f5-20d57f5e44cf",
      "udi": "umb://element/978e22b5cd984637abbd3fef304b48a9",
      "title": "Black"
    },
    {
      "contentTypeKey": "1bb02b98-2d79-4144-b5d8-4c95210bff62",
      "udi": "umb://element/b4cb52e2120c44fbb9a376390114d99c",
      "title": "Blue"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
    <listView>
      <Value><![CDATA[]]></Value>
    </listView>
  </Properties>
</Content>