<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4249ed-2b23-4337-b522-63cabe5587d1" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-10-18T12:53:31</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b42de995-f89c-4ba6-9033-acf7072eb6b8">home</Template>
  </Info>
  <Properties>
    <blockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/953562ca3c4a491e988109748d86f7ac"
      },
      {
        "contentUdi": "umb://element/74fef27df23344a5b886415d5b30e897"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "89dc7c3e-d5a5-4444-b2a8-897307b086a5",
      "udi": "umb://element/953562ca3c4a491e988109748d86f7ac",
      "text": "test"
    },
    {
      "contentTypeKey": "c133f788-536d-4bc9-80fb-afdec285ef87",
      "udi": "umb://element/74fef27df23344a5b886415d5b30e897",
      "TESTTEST": "test"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockList>
  </Properties>
</Content>