<?xml version="1.0" encoding="utf-8"?>
<Content Key="46c48294-afb4-44e9-b8f0-bb3aa532fe71" Alias="Insult API" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/InsultAPI</Path>
    <Trashed>false</Trashed>
    <ContentType>insultAPI</ContentType>
    <CreateDate>2020-11-21T11:06:42</CreateDate>
    <NodeName Default="Insult API" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a5832233-c255-4397-946f-ec3f59aceaef">InsultAPI</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>