<?xml version="1.0" encoding="utf-8"?>
<Content Key="c95633f1-ca70-4242-a479-42b09b4d8efc" Alias="Menu Examples" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/MenuExamples</Path>
    <Trashed>false</Trashed>
    <ContentType>menuPageExample</ContentType>
    <CreateDate>2021-04-05T09:52:51</CreateDate>
    <NodeName Default="Menu Examples" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4966219-c149-4fe4-a03c-29c8a9b7bfac">MenuPageExample</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Examples]]></Value>
    </title>
  </Properties>
</Content>