<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c183c99-9e71-4801-a648-ea86b3125af5" Alias="Menus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Menus</Path>
    <Trashed>false</Trashed>
    <ContentType>menuContainer</ContentType>
    <CreateDate>2021-04-05T09:57:24</CreateDate>
    <NodeName Default="Menus" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9dcab492-458c-4bad-9dc9-3a7ae1e89c3d">MenuContainer</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>