<?xml version="1.0" encoding="utf-8"?>
<Content Key="a53a779d-5789-4a96-a097-82f6a4548235" Alias="Page Two" Level="3">
  <Info>
    <Parent Key="ea96ba78-f124-4126-bb8e-cf1dd79f0547">Properties Explained</Parent>
    <Path>/Home/PropertiesExplained/PageTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>hamsterDance</ContentType>
    <CreateDate>2021-02-20T10:59:02</CreateDate>
    <NodeName Default="Page Two" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="022654ad-f4ea-4ec4-9393-b324d9413673">HamsterDance</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Page Two]]></Value>
    </title>
  </Properties>
</Content>