<?xml version="1.0" encoding="utf-8"?>
<Content Key="01b1488a-5c9c-43b2-9caa-e47d145efaaa" Alias="Pagr 4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Pagr4</Path>
    <Trashed Parent="ea96ba78-f124-4126-bb8e-cf1dd79f0547">true</Trashed>
    <ContentType>hamsterDance</ContentType>
    <CreateDate>2021-02-20T11:13:35</CreateDate>
    <NodeName Default="Pagr 4" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="022654ad-f4ea-4ec4-9393-b324d9413673">HamsterDance</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Pagr 4]]></Value>
    </title>
  </Properties>
</Content>