<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea96ba78-f124-4126-bb8e-cf1dd79f0547" Alias="Properties Explained" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/PropertiesExplained</Path>
    <Trashed>false</Trashed>
    <ContentType>properties</ContentType>
    <CreateDate>2021-02-20T10:57:16</CreateDate>
    <NodeName Default="Properties Explained" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="de1fe51f-1ea1-4a0d-ac59-a411afaba27f">Properties</Template>
  </Info>
  <Properties>
    <blockEditor>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a6219575f1e541e29f2261dd581ebedd"
      },
      {
        "contentUdi": "umb://element/66ccabcc3fdd41f681739d44ade89470"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "1bb02b98-2d79-4144-b5d8-4c95210bff62",
      "udi": "umb://element/a6219575f1e541e29f2261dd581ebedd",
      "ten": "one"
    },
    {
      "contentTypeKey": "1c22b8ee-a9e7-4ce5-90f5-20d57f5e44cf",
      "udi": "umb://element/66ccabcc3fdd41f681739d44ade89470",
      "two": "Two"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockEditor>
    <listView>
      <Value><![CDATA[]]></Value>
    </listView>
    <markdown>
      <Value><![CDATA[]]></Value>
    </markdown>
    <ten>
      <Value><![CDATA[]]></Value>
    </ten>
    <twenty>
      <Value><![CDATA[]]></Value>
    </twenty>
  </Properties>
</Content>