<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd976cca-0d74-49f6-8835-d3447c0f66bc" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2020-12-05T21:58:30</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ee18520-9a79-4c61-b361-0eb5d91b648b">Settings</Template>
  </Info>
  <Properties>
    <bluePillOrTheRedOne>
      <Value><![CDATA[0]]></Value>
    </bluePillOrTheRedOne>
    <featureFlags>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/07fd8483b8d24070a732b2c16aed5959"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e9e0bc7e-c0c8-4506-8e85-803e68d82e9d",
      "udi": "umb://element/07fd8483b8d24070a732b2c16aed5959",
      "featureFlagOne": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </featureFlags>
    <whatCameFirstTheChickenOrTheEgg>
      <Value><![CDATA[0]]></Value>
    </whatCameFirstTheChickenOrTheEgg>
  </Properties>
</Content>