<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a23a0e6-8b0e-46f5-ab0e-ee80ae645a19" Alias="subscribe" Level="3">
  <Info>
    <Parent Key="ea96ba78-f124-4126-bb8e-cf1dd79f0547">Properties Explained</Parent>
    <Path>/Home/PropertiesExplained/subscribe</Path>
    <Trashed>false</Trashed>
    <ContentType>hamsterDance</ContentType>
    <CreateDate>2021-02-20T11:16:05</CreateDate>
    <NodeName Default="subscribe" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="022654ad-f4ea-4ec4-9393-b324d9413673">HamsterDance</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[subscribe]]></Value>
    </title>
  </Properties>
</Content>