<?xml version="1.0" encoding="utf-8"?>
<Content Key="0cdfb2fc-013a-40ac-b381-d97d45e61a48" Alias="Surface Controller" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/SurfaceController</Path>
    <Trashed>false</Trashed>
    <ContentType>simpleFormExample</ContentType>
    <CreateDate>2020-12-12T08:26:47</CreateDate>
    <NodeName Default="Surface Controller" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d026e411-e4d5-4cd6-8bd9-29914c87b6c7">SimpleFormExample</Template>
  </Info>
  <Properties />
</Content>