@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.HamsterDance >
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <script src="~/tutorial-assets/analytics.js" type="text/javascript"></script>
    <script type="text/javascript">window.addEventListener('DOMContentLoaded', function () { var v = archive_analytics.values; v.service = 'wb'; v.server_name = 'wwwb-app13.us.archive.org'; v.server_ms = 2963; archive_analytics.send_pageview({}); });</script>
    <script type="text/javascript" src="~/tutorial-assets/playback.bundle.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/tutorial-assets/wombat.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="~/tutorial-assets/banner-styles.css">
    <link rel="stylesheet" type="text/css" href="~/tutorial-assets/iconochive.css">
    <!-- End Wayback Rewrite JS Include -->
    <meta http-="" equiv="Keywords" name="Keywords" content="Hamster Dance, Hampster Dance, The Hamster Dance,  Dancing hamster&#39;s, original, MeHampster, hamster, web, star, pet, dedodedo, hamster care, Hampton Hampster, karate, racing, hamster house, home , castle, hamster dancing,rodent, pine bedding, wheel, water bottle, drag racing, Hampton Hampster&#39;s Hamster House ">
    <meta http-equiv="PICS-Label" content="(PICS-1.1 &quot;http://www.classify.org/safesurf/&quot; l gen true
for &quot;http://www.geocities.com/Heartland/Bluffs/4157/&quot; by &quot;MeHampster@aol.com&quot; r (SS~~000 1))">

    <title>The Hampster Dance</title>
</head>


<!--COLOR-->
<body bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#551A8B" data-new-gr-c-s-check-loaded="14.980.0" cz-shortcut-listen="true">
    <!-- BEGIN WAYBACK TOOLBAR INSERT -->
    <style type="text/css">
        body {
            margin-top: 0 !important;
            padding-top: 0 !important;
            /*min-width:800px !important;*/
        }
    </style>

    <!--HEAD1-->
    <center>
        <h1>
            @Model.Title
        </h1>
    </center>

    <p>
        <img src="~/tutorial-assets/anin.gif" alt="HUGO, BRIAN THE HAMSTER, JUSTINA"><img src="~/tutorial-assets/anin.gif" alt="TWISTER"><img src="~/tutorial-assets/anin.gif" alt="FATTY BOOM BOOM"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">

        <img src="~/tutorial-assets/hamu.gif" alt="SNOWBALL"><img src="~/tutorial-assets/hamu.gif" alt="IZZY"><img src="~/tutorial-assets/hamu.gif" alt="BUD"><img src="~/tutorial-assets/hamu.gif" alt="QUIRBY"><img src="~/tutorial-assets/hamu.gif" alt="TINK"><img src="~/tutorial-assets/hamu.gif" alt="NORBY"><img src="~/tutorial-assets/hamu.gif" alt="MELONHEAD"><img src="~/tutorial-assets/hamu.gif" alt="UNCLE EUGENE"><img src="~/tutorial-assets/hamu.gif" alt="BOOG"><img src="~/tutorial-assets/hamu.gif" alt="RHEAT1"><img src="~/tutorial-assets/hamu.gif" alt="BEKY"><img src="~/tutorial-assets/hamu.gif">

        <img src="~/tutorial-assets/anin.gif" alt="FIDGET,BONNIE,HENRY HOFFMAN"><img src="~/tutorial-assets/anin.gif" alt="BOOTY SCOOTIN,              HEIDI"><img src="~/tutorial-assets/anin.gif" alt="EVIL FRANSTER                    ELECTRA GLIDE"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif" alt="HANS">


        <img src="~/tutorial-assets/gerbil.gif" alt="HAMPTON HAMPSTER"><img src="~/tutorial-assets/gerbil.gif" alt="WEEZIE"><img src="~/tutorial-assets/gerbil.gif" alt="ALEX"><img src="~/tutorial-assets/gerbil.gif" alt="KRIS"><img src="~/tutorial-assets/gerbil.gif" alt="GUSGUS"><img src="~/tutorial-assets/gerbil.gif" alt="GEORGE THE TILTED HAMSTER"><img src="~/tutorial-assets/gerbil.gif" alt="SHUSHU"><img src="~/tutorial-assets/gerbil.gif" alt="LINKY"><img src="~/tutorial-assets/gerbil.gif" alt="DINKY"><img src="~/tutorial-assets/gerbil.gif" alt="PRINCESS ROSABELLE"><img src="~/tutorial-assets/gerbil.gif" alt="HOLLAND"><img src="~/tutorial-assets/gerbil.gif" alt="HADO HAMSTER">


        <img src="~/tutorial-assets/anin.gif" alt="SIR HAMLET, OLGA"><img src="~/tutorial-assets/anin.gif" alt="PIGGIE"><img src="~/tutorial-assets/anin.gif" alt="RATBOY"><img src="~/tutorial-assets/anin.gif" alt="WOODY"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamwalk.gif" alt="TINKY"><img src="~/tutorial-assets/hamwalk.gif" alt="KATIE"><img src="~/tutorial-assets/hamwalk.gif" alt="BUBBA"><img src="~/tutorial-assets/hamwalk.gif" alt="ERLINE the GRAMMIE HAMSTER "><img src="~/tutorial-assets/hamwalk.gif" alt="THUNDERFOOT"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif" alt="MONET, the WONDER BIRD"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">

        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">



        <img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif" alt="HUEY"><img src="~/tutorial-assets/hamu.gif" alt="SHARON"><img src="~/tutorial-assets/hamu.gif" alt="PHYLLIS"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/gerbil.gif" alt="HARVEY THE HAMSTER"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif" alt="JONAN THE BARBARIAN"><img src="~/tutorial-assets/gerbil.gif" alt="LYNN W.(THE EDITOR)"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif">



        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif">


        <img src="~/tutorial-assets/anin.gif" alt="SHEA-ZY  (by Tiny Treasures Day Care)"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamu.gif" alt="PARKER"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif"><img src="~/tutorial-assets/hamu.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif"><img src="~/tutorial-assets/gerbil.gif">


        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">


        <img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif"><img src="~/tutorial-assets/hamwalk.gif">

        <img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif"><img src="~/tutorial-assets/anin.gif">
    </p></center>

    <center>
</body>
</html>