@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

<ul>
    <li>
        <a href="~/hamster-dance/">E02 - Basic Page - Hamster Dance</a>
    </li>
    <li>
        <a href="~/insult-api/">E03 - Build An API - Insult API</a>
    </li>
    <li>
        <a href="~/view-model/">E04 - View Models</a>
    </li>
    <li>
        <a href="~/cringe-sayings/">E05 - Global Settings</a>
    </li>
</ul>
