@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>
@{
    Layout = null;
}
<ul>
    <li>
        <a href="~/hamster-dance/">E02 - Basic Page - Hamster Dance</a>
    </li>
    <li>
        <a href="~/insult-api/">E03 - Build An API - Insult API</a>
    </li>
    <li>
        <a href="~/view-model/">E04 - View Models</a>
    </li>
    <li>
        <a href="~/cringe-sayings/">E05 - Global Settings</a>
    </li>
    <li>
        <a href="~/surface-controller/">E06 - Surface Controller</a>
    </li>
    <li>
        <a href="~/composers-and-components/">E07 - Using Normal MVC Controllers With Umbraco</a>
    </li>
    <li>
        <a href="~/composers-and-components/">E08 - Composers and Components</a>
    </li>
    <li>
        <a href="~/cheery-query/">E09 - Cheery Query</a>
    </li>
    <li>
        <a href="~/caching/">E11 - Caching</a>
    </li>
</ul>