@model TutorialCode.Controllers.Umbraco.HomeViewModel
@{
    Layout = null;
}

@if (Model.HasImage)
{
<img src="@Model.CurrentPage.Image.Url" />
}
<ul>
    <li>
        <a href="~/hamster-dance/">Hamster Dance</a>
    </li>
    <li>
        <a href="~//insult-api/">Insult API</a>
    </li>
</ul>
