@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>
@{
    Layout = null;
}

<ul>
    <li>
        <a href="~/hamster-dance/">Hamster Dance</a>
    </li>
    <li>
        <a href="~//insult-api/">Insult API</a>
    </li>
</ul>
