<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dac231a9-20a9-4a25-85f3-5c916a8db2ce" Alias="JON TEXTBOX" Level="1">
  <Info>
    <Name>JON TEXTBOX</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 1
}]]></Config>
</DataType>