<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b23dd2ba-b551-4a88-bc68-aa08c659725e" Alias="Textbox with 10" Level="1">
  <Info>
    <Name>Textbox with 10</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>