<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf4f86aa-824f-45b8-9b53-e8d7b4f9f725" Alias="Textbox 5" Level="1">
  <Info>
    <Name>Textbox 5</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 5
}]]></Config>
</DataType>