<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a75448b5-df64-4063-a898-512842f6d43f" Alias="Textbox with 10 (1)" Level="1">
  <Info>
    <Name>Textbox with 10 (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 10
}]]></Config>
</DataType>