<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b06ac94b-3f2f-4f13-85bb-ae26efa20ade" Alias="Textbox 60" Level="1">
  <Info>
    <Name>Textbox 60</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 60
}]]></Config>
</DataType>