<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5469ea9a-8302-421c-bb6e-f933c93dbc46" Alias="Textbox 30" Level="1">
  <Info>
    <Name>Textbox 30</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 30
}]]></Config>
</DataType>