@model  Umbraco.Web.PublishedModels.BlackBlock

<style>
    .blackcontent {
        background-color: black;
        height: 25vh;
        width: 100vw;
        color: #00ccfd;
        text-align: center;
        font-size: 1.5rem;
    }

    h2 {
        max-width: 400px;
        margin: auto;
    }
</style>

<div class="blackcontent">
    <h2>
        @Model.Title
    </h2>
</div>