@model  Umbraco.Web.PublishedModels.BlueBlock

<style>
    .bluecontent {
        background-color: #55e7ff;
        height: 25vh;
        width: 100vw;
        color: #2011a2;
        text-align: center;
        font-size: 1.5rem;
    }

    h2 {
        max-width: 400px;
        margin: auto;
    }
</style>

<div class="bluecontent">
    <h2>
        @Model.Title
    </h2>
</div>